.logoSize {
    width: 50px;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.bg-black {
  background-color: black;
}

.bottonWhite {
  color: white;
}

/* .test {
  margin-top: 1500px;
} */

/****Pagina Inicial ****/
/**** Menu Burger ****/
#menu {
  width: 35px;
  height: 35px;
  margin: 30px 30px 30px 30px;
  cursor: pointer;
}
#menu-bar {
  position: fixed;
  z-index: 100;
}
.menuOpen{
  background-color: #1b212c;  
}
.bar {
  height: 6px;
  width: 100%;
  background-color: #000000;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
.bar1 {
  height: 5px;
  width: 60%;
  background-color: #000000;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1{
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
/* .change .bar {
  background-color: blue;
} */


.change #bar1 {
  transform: translateY(5px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-7px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}
.hamb li a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}
.hamb li a:hover{
  font-weight: bold;
}
.hamb li {
  list-style: none;
  padding: 16px 16px;
}
div .hamb {
  margin-top: 20%;
}
.hamb {
  background-color: ;
}
.nav {
  display: none;
}
.change {
  display: block;
}
.menuOpen {
  position: fixed;
  z-index: 99;
  opacity: 0.8;
}

/**** Slider Menu ****/

