/**** conf- inicial ****/

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #79efb4;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}=

img {
  vertical-align: middle;
  border-style: none;
}

/* ----------------- */

.border {
    border: 1px solid #dee2e6 !important;
}

.bg-black {
  background-color: black;
}

.bottonWhite {
  color: white !important;
}

/* .test {
  margin-top: 1500px;
} */

/****Pagina Inicial ****/
/**** Menu Burger ****/
#menu {
  width: 35px;
  height: 35px;
  margin: 30px 30px 30px 30px;
  cursor: pointer;
}
#menu-bar {
  position: fixed;
  z-index: 100000;
}
.menuOpen{
  background-color: #1b212c;  
}
.bar {
  height: 6px;
  width: 100%;
  background-color: #000000;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
.bar1 {
  height: 5px;
  width: 60%;
  background-color: #000000;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1{
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
/* .change .bar {
  background-color: blue;
} */


.change #bar1 {
  background-color: white;
  transform: translateY(5px) rotateZ(-45deg);
}
.change #bar3 {
  background-color: white;
  transform: translateY(-7px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}
.hamb li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.hamb li a:hover{
  font-weight: bold;
}
.hamb li {
  list-style: none;
  padding: 16px 16px;
}
div .hamb {
  margin-top: 20%;
}
.hamb {
  background-color: ;
}
.nav {
  display: none;
}
.change {
  display: block;
}
.menuOpen {
  position: fixed;
  height: 100%;
  z-index: 99999;
}

/**** Slider Menu ****/

.menu-slide {
  min-height: 600px;
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
}

.Ecorretor {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  box-sizing: border-box;
  z-index: 100;
}

.Logo {
  position: relative;
}


/**** CV ****/


.corretor {
  min-height: 450px;
  background-size: cover;
  background-position: center;

}

/**** Clientes falam ****/

.bg-color {
  background-color: #4a5562;
}

.img-cliente {
  max-width: 150px;
  margin: 20%;
  border-radius: 50%;
}

.titulo{
  text-transform: uppercase;
}

/**** Produtos Slide ****/

.produto-slide {
  height: 500px;
}

.produto-image {
  height: 250px;
}

/**** Fale com o corretor ****/

.contato {
  min-height: 150px;
  background-size: cover;
  background-position: center;
}

.text-black{
  color: black!important;
}